

*{
	margin: 0;
	padding: 0;
}

body{
	color: #fff;
}

.countdown{
    width: 300px;
    text-align: center;
    background: #1a1a1a;
    margin: 10px auto;
    padding: 20px 0
}



input{
	border: 0;
    width: 283px;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
    background:  url(../img/controller.png) no-repeat;
    
}
input.cancel{
	background-position:  0 -50px;
}
span{
	color: #000;
    width: 80px;
    line-height: 2;
    background: #fbfbfb;
    border: 2px solid #b4b4b4;
    margin: 0 10px;
    padding: 0 10px;
}


